{% extends 'base.html' %}



{% block content %}
    <h1>Game of your life</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <input type="submit" class="btn-sub" value="Add word">
    </form>
    {% for word in words %}
        <ul>
            <li>{{ word.word }}</li>
        </ul>

    {% endfor %}
{% endblock %}